.home-image img {
   width: 415px;
   height: 450px;
   margin: 100px 500px;
   border-top: 18px solid black;
   border-bottom: 18px solid black;
   border-left: 18px solid white;
   border-right: 18px solid white;
   color: gray;
   box-shadow: 0 0 20px 20px currentColor;
   position: fixed;
}

.portriats img {
   width: 450px;
   height: 475px;
   margin-top: 70px;
   margin-left: 200px;
   border-top: 18px solid black;
   border-bottom: 18px solid black;
   border-left: 18px solid white;
   border-right: 18px solid white;
   color: gray;
   box-shadow: 0 0 45px 45px currentColor;
   float: left;
}

.realism img {
   width: 450px;
   height: 475px;
   margin-top: 70px;
   margin-right: 200px;
   border-top: 18px solid black;
   border-bottom: 18px solid black;
   border-left: 18px solid white;
   border-right: 18px solid white;
   color: gray;
   box-shadow: 0 0 45px 45px currentColor;
   float: right;
}

.anime img {
   width: 450px;
   height: 475px;
   margin-top: 67px;
   margin-right: 200px;
   border-top: 18px solid black;
   border-bottom: 18px solid black;
   border-left: 18px solid white;
   border-right: 18px solid white;
   color: gray;
   box-shadow: 0 0 45px 45px currentColor;
   float: right;
}

.anamorphic img {
   width: 450px;
   height: 475px;
   margin-top: 70px;
   margin-left: 500px;
   border-top: 18px solid black;
   border-bottom: 18px solid black;
   border-left: 18px solid white;
   border-right: 18px solid white;
   color: gray;
   box-shadow: 0 0 45px 45px currentColor;
   float: none;
}

.pointillism img {
   width: 450px;
   height: 475px;
   margin-top: 67px;
   margin-left: 200px;
   border-top: 18px solid black;
   border-bottom: 18px solid black;
   border-left: 18px solid white;
   border-right: 18px solid white;
   color: gray;
   box-shadow: 0 0 45px 45px currentColor;
   float: left;
}
