$font-stack--heading: 'Almendra SC', serif;
$font-stack--main: 'Ibarra Real Nova', serif;
$font-size--headers: 35px;
$font-size--main: 25px;
$text-align: center;
$font-color: black;
$width--desktop: 1520px;
$width--tablet: 1150px;
$width--mobile: 250px;
